.footer {
    width: 100%;

    background-color: #333533;

    display: flex;
    flex-flow: column wrap;
    // justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: white;

    & ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        & div {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        & li {
            text-transform: capitalize;
            margin: 0 1rem;
        }
    }

    &__copyright {
        margin-top: 4rem;
    }

}